@import url('https://fonts.googleapis.com/css?family=Roboto');

/* * {
    border: 1px solid red;
} */
body {
    font-family: 'Robot', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f2937;
    padding: 0.5em 10em 5em 10em;
}

.header-navbar {
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin-right: auto;
}

.header-link {
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
    gap: 16px;
}
/*  i should compine these two class and ul */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color:#E5E7EB;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-left {
    max-width: 450px;
}

.hero-secondary {
    padding-bottom: 0.5em;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #F9FAF8;
}

.hero-btn {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
}

img {
    min-width: 450px;
    height: 226px;
}

/* SECTION 2 */

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.info-boxes {
    max-width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-images {
    width: 10em;
    height: 10em;
    border: 4px solid #3882F6;
    border-radius: 1em;
    margin-bottom: 1em;
}

.info-header {
    margin: 1em;
}

.info-content {
    margin-bottom: 6em;
}

/* SECTION 3 */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 8em 0 8em 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 22.5em;
    margin: 0;
}

.quote-subtext {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

/* SECTION 3 */

.signup {
    background-color: #3882F6;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 4em 8em;
    padding: 2em 6em;
    border-radius: 0.5em;
}

.signup-text {
    font-weight: 900;
    margin: 0;
}

.signup-subtext {
    font-size: 18px;
    font-weight: 100;
    color: #F9FAF8;
    margin: 0.01em;
}

.signup-btn {
    background-color: transparent;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    border-color: #F9FAF8;
    border-width: 2px;
    width: 8em;
}

/* SECTION 3 */

.footer {
    background-color: #1F2937;
    font: 18px;
    color: #F9FAF8;
    text-align: center;
    padding: 2em;
}